.page-header
  %h1
    MEMORY #{params[:range]}
    %span.small j,k to change number

.friends_memory_mode
  .btn-group.first
    .dropdown
      %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", type: "button"}
        %span.text
          first #{first_param}
        %span.caret
      %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", role: "menu"}
        - %w(0 10 20 30 40 50 60 70 80 90).each do |first|
          %li{ role: "presentation" }
            = link_to "first #{first}", memory_friends_path(first: first, last: last_param), role: 'menuitem', tabindex: '-1'

  .btn-group.last
    .dropdown
      %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", type: "button"}
        %span.text
          last #{last_param}
        %span.caret
      %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", role: "menu"}
        - %w(9 19 29 39 49 59 69 79 89 99).each do |last|
          %li{ role: "presentation" }
            = link_to "last #{last}", memory_friends_path(first: first_param, last: last), role: 'menuitem', tabindex: '-1'

  .btn-group.memory{ role: 'group' }
    %a.btn.btn-default.active{ type: 'button', href: '#', data: { memory: 'all' } }
      all
    %a.btn.btn-default{ type: 'button', href: '#', data: { memory: 'friends' } }
      friends
    %a.btn.btn-default{ type: 'button', href: '#', data: { memory: 'objects' } }
      objects
    %a.btn.btn-default{ type: 'button', href: '#', data: { memory: 'actions' } }
      actions

  .btn-group.start{ role: 'group' }
    %a.btn.btn-default.active{ type: 'button', href: '#', data: { start: 'name' } }
      name start
    %a.btn.btn-default{ type: 'button', href: '#', data: { start: 'number' } }
      number start

  .btn-group.count
    .dropdown
      %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", type: "button", data: { count: 1 }}
        %span.text
          count 1
        %span.caret
      %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", role: "menu"}
        - %w(1 3 6 8).each do |count|
          %li{role: "presentation"}
            %a{href: "#", role: "menuitem", tabindex: "-1", data: { count: count }} count #{count}

.counter

.friends_memory_canvas{ data: { path: friends_path(first: first_param, last: last_param),
objects_path: memory_objects_path(first: first_param, last: last_param),
actions_path: memory_actions_path(first: first_param, last: last_param) } }
