.page-header
  %h1= @friend.name

= form_for @friend, html: { class: 'friend_form' } do |f|
  .input-group.input-group-lg
    %h3.input-label
      name
    = f.text_field :name, class: 'form-control'
  .input-group.input-group-lg
    %h3.input-label
      number
    = f.text_field :number, class: 'form-control'
  = submit_tag 'SAVE', class: 'btn btn-primary'
