!!!
%html
  %head
    %title Donotremembercardnumber
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = yield(:js)
    = csrf_meta_tags
  %body
    %p.notice= notice
    %p.alert= alert
    .container
      = yield
