!!!
%html
  %head
    %title DONOTMEMORYCARDNUMBER
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = yield(:js)
    = csrf_meta_tags
  %body
    .container
      %nav.navbar.navbar-default.global_navigation{role: "navigation"}
        .container-fluid
          / Brand and toggle get grouped for better mobile display
          .navbar-header
            = link_to 'DONOTMEMORYCARDNUMBER', friends_path, class: 'navbar-brand'
          / Collect the nav links, forms, and other content for toggling
          .collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li{ class: controller_name == 'friends' && action_name == 'index' && 'active' }
                = link_to 'friends', friends_path
              %li{ class: controller_name == 'memories' && 'active' }
                = link_to 'memories', memories_path
              %li{ class: controller_name == 'friends' && action_name == 'memory' && 'active' }
                = link_to 'memory', memory_friends_path

      = yield
